.ska-toolbar {

	.block-editor-block-toolbar & {
		padding: 0;
	}

	:is(.interface-interface-skeleton__header, .edit-site-layout__header) & {
		margin-top: -8px !important;
	}

	&__group-container {
		display: flex;
		flex-direction: column;

		:is(.components-toolbar-button, .components-toolbar__control):not(#_):not(#_):not(#_) {

			height: 23px;
			width: 100%;
			min-width: 0 !important;
			padding: 0 2px;

			&.has-icon {

				&::before {
					inset: 0 !important;
				}
			}

			& > svg {
				transform: scale(0.75);
			}

			&::before {
				width: 100%;
				height: 100%;
			}
		}

		& > div:first-child > :is(.components-toolbar-button, .components-toolbar__control), /** Sometimes wrapped in div (@see gutenberg/packages/components/src/toolbar/toolbar-button/index.tsx). */
		& > :is(.components-toolbar-button, .components-toolbar__control):first-child {
			transform: translateY(1px);
		}
	}

	/** Fix misaligned SVGs. */
	&__insert-before > svg > path {
		transform: translateX(2px) translateY(3px);
	}
	&__insert-after > svg > path {
		transform: translateX(2px) translateY(1px);
	}
}

/** Injected toolbar. */
#ska-toolbar {
	margin-left: 0;
	order: 10;

	& + * {
		order: 9;

		& ~ * {
			order: 11;
		}
	}

	&:has(~ .editor-collapsible-block-toolbar.is-collapsed) {
		display: none;
	}
}

/** Hide injected toolbar when normal toolbar (added via block controls slot) is visible. */
.editor-header .editor-header__toolbar:has(.ska-toolbar--block-control) #ska-toolbar {
	display: none;
}

/** Hide injected toolbar when "Top toolbar" editor setting is not active. */
.editor-header .editor-header__toolbar:not(:has(.editor-collapsible-block-toolbar:not(#ska-toolbar))) #ska-toolbar {
	display: none;
}
